= form_for(@budget, html: { :class => 'form-horizontal', :role => "form" } ) do |f|
  - if @budget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@budget.errors.count, "error")} prohibited this budget from being saved:"

      %ul
        - @budget.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :description, class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_area :description, class: 'form-control'

  .form-group
    = f.label :currency, class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :currency, class: 'form-control'

  -unless @budget.single_user?
    .form-group
      =f.label :users, t(:manage_users), class: 'control-label col-sm-2'
      .col-sm-10
        =f.hidden_field :user_id_list

        .add-user-field.row
          .col-sm-12
            .input-group
              =text_field_tag "new-budget-user-identifier", "", :placeholder => "Name or email", class: "form-control"
              .input-group-addon#add-budget-user-button
                %i.glyphicon.glyphicon-plus

        .row
          .budget-users.col-sm-12
            -@budget.users.each do |user|
              %span.budget-user.label.label-info
                = user.name
                = link_to "javascript:void(0)", :class => "budget-user-remove-link", :data => {:user => user.id} do
                  %i.glyphicon.glyphicon-remove

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit t('common.save'), class: 'btn btn-primary'
      -if @budget.new_record?
        = link_to t('common.cancel'), budgets_path, class: "btn btn-default"
      -else
        = link_to t('common.cancel'), budget_path(@budget), class: "btn btn-default"
        = link_to t('common.delete'), budget_path(@budget), method: "delete", class: "btn btn-danger pull-right", data: { confirm: 'Are you sure?' }
