%h1.page-header= t(".heading")


.budgets
  -@budgets.each do |budget|
    .row.budget-summary
      .col-md-2.text-right.hidden-xs.hidden-sm
        =link_to budget.name, budget
      .col-md-2.visible-xs.visible-sm
        =link_to budget.name, budget

      .col-md-8
        .progress.budget_bar
          .progress-bar-info.progress-bar{:role => "progressbar", :aria => {:valuemin => 0, :valuemax => budget.planned.to_i, :valuenow => budget.used_this_month.to_i}, :style => "width: #{used_in_percent(budget.used_this_month, budget.planned)}%"}
            .hidden-xs.hidden-sm= formated_currency(budget.used_this_month)
            .visible-xs.visible-sm= "#{formated_currency(budget.used_this_month)} / #{formated_currency(budget.planned)}".html_safe
        .budget-description= budget.description

      .col-md-2
        .hidden-sm.hidden-xs= formated_currency(budget.planned)
