=render :partial => "partials/budget_header"

%h3= t('.latest_transactions')
=render :partial => "transactions/list", :locals => {:transactions => @budget.transactions.this_month.order('date desc').limit(6)}


.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Budget distribution
      .panel-body
        .row
          .col-md-7
            %canvas#category-distribution{width: '300', height: '300'}
          .col-md-5
            .list-group
              -@budget.categories.all.each do |category|
                .list-group-item= category_box(category, "#{formated_currency(category.used_this_month, unit: category.budget.currency)}".html_safe)

  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Monthly trend
      .panel-body
        %canvas#monthly-trend{width:500, height: 300}




:javascript
  responsive_chart('Doughnut','#category-distribution',#{@statistics.category_distribution.to_json})
  responsive_chart('Line','#monthly-trend',#{@statistics.monthly_trend.to_json})
