%h3= t('.actions')
  
.list-group
  =link_to t('common.new', entity: t('activerecord.models.transaction')), new_budget_transaction_path(@budget), class: "list-group-item #{current_page?(new_budget_transaction_path(@budget)) ? 'active' : ''}"
  =link_to t('common.new', entity: t('activerecord.models.category')), new_budget_category_path(@budget), class: "list-group-item #{current_page?(new_budget_category_path(@budget)) ? 'active' : ''}"
.list-group
  =link_to t('.lastest_transactions'), @budget, class: "list-group-item #{current_page?(budget_path(@budget)) ? 'active' : ''}"
.list-group
  =link_to t('.transactions_by_category'), budget_transactions_path(@budget), class: "list-group-item #{current_page?(budget_transactions_path(@budget)) ? 'active' : ''}"
  =link_to t('.transactions_by_date'), budget_transactions_path(@budget), class: "list-group-item #{current_page?(budget_transactions_path(@budget)) ? 'active' : ''}"
  =link_to t('.transactions_by_user'), budget_transactions_path(@budget), class: "list-group-item #{current_page?(budget_transactions_path(@budget)) ? 'active' : ''}"
  =link_to t('.advanced_filtering'), budget_transactions_path(@budget), class: "list-group-item #{current_page?(budget_transactions_path(@budget)) ? 'active' : ''}"
