- unless current_user
  .hero-unit
    %h1= t('.welcome_unknown')
    %p= t('.description_unknown')
    %p
      =form_for "user", :url => user_session_path, :html => {:class => "form-inline"} do |f|
        =f.text_field :login, :class => "input-small", :placeholder => t("devise.sessions.placeholder_login")
        =f.password_field :password, :class => "input-small", :placeholder => t("devise.sessions.placeholder_password")
        %label.checkbox
          =f.check_box :remember_me
          Remember me
        =f.submit t("devise.sessions.sign_in_button"), :class => "btn"


-else
  .row
    .span9
      .page-header
        %h1 Dashboard


      %h3= t('.last_n_transactions', n: 10)
      %table.table.table-striped
        %tr
          %th= t('.comment')
          %th= t('.amount')
          %th= t('.saldo')
        - @transactions.each do |transaction|
          %tr
            %td= transaction.comment
            %td= color_currency( transaction.amount )
            %td= color_currency( transaction.saldo )

    .span3
      =render :partial => 'categories/overview'
