%h1.page-header= t(".heading")

- @budgets.in_groups_of(2) do |budgets|
  .row
    - budgets.each do |budget|
      .col-md-6.budget-summary.dashboard
        - if budget
          .panel.panel-default
            .panel-body
              .col-md-10.col-md-offset-1
              %h3
                = link_to budget.name, budget
                .small.pull-right
                  = "#{formated_currency(budget.used_this_month, unit: budget.currency)} / #{formated_currency(budget.planned, unit: budget.currency)}".html_safe
              .progress.budget_bar-slim
                = budgetbar(budget,true)
              .budget-description.text-muted
                = budget.description
              .budget-transactions
                %h4= t('.latest_transactions')
                = render :partial => "transactions/list_small", :locals => { :transactions => budget.transactions.this_month.order('date desc').limit(3) }
