.row
  .col-md-9
    .page-header
      %h1 Dashboard

    %p
      %h3= t('.last_n_transactions', n: 10)

    %table.table.table-striped
      %tr
        %th= t('.comment')
        %th.currency= t('.amount')
        %th.currency= t('.saldo')
      - @transactions.each do |transaction|
        %tr
          %td= transaction.comment
          %td.currency= formated_currency( transaction.amount )
          %td.currency= formated_currency( transaction.saldo )

  .col-md-3.hidden-phone#sidebar
    =render :partial => 'categories/overview'
