.row
  .span9
    .page-header
      %h1 Dashboard

    %p
      %h2= t('.last_n_transactions', n: 10)

    .row
      .span9
        %table.table.table-striped
          %tr
            %th= t('.comment')
            %th= t('.amount')
            %th= t('.saldo')
          - @transactions.each do |transaction|
            %tr
              %td= transaction.comment
              %td= color_currency( transaction.amount )
              %td= color_currency( transaction.saldo )

  .span3
    =render :partial => 'categories/overview'
