- unless current_user
  %h1= t('.unknown_welcome')
  %p= t('.description_unknown')
- else
  %h1= t('.welcome_user', user: current_user.name)

  %p
    %h2= t('.last_n_transactions', n: 10)
    
    %table.table.table-striped
      %tr
        %th= t('.comment')
        %th= t('.amount')
        %th= t('.saldo')
      - @transaction.each do |transaction|
        %tr
          %td= transaction.comment
          %td= color_currency( transaction.amount )
          %td= color_currency( transaction.saldo )
