- unless current_user
  %h1= t('.welcome_unknown')
  %p= t('.description_unknown')
- else
  %h1= t('.welcome_user', user: current_user.name)

  %p
    %h2= t('.last_n_transactions', n: 10)

    .row
      .span9
        %table.table.table-striped
          %tr
            %th= t('.comment')
            %th= t('.amount')
            %th= t('.saldo')
          - @transactions.each do |transaction|
            %tr
              %td= transaction.comment
              %td= number_to_currency transaction.amount
              %td= number_to_currency transaction.saldo

      .span3.hidden-phone
        =render :partial => 'categories/overview'
