%h1= t('.heading')

.row
  .span4#filters
    = render partial: 'summary/filters'

  .span8
    %table.summary.table
      %thead
        %tr.header
          %th.empty &nbsp;
          %th.currency= t('common.planed')
          %th.currency= t('common.used')

      %tbody
        - @categories.each do |category|
          / category
          %tr.category_container.expandable{ 'data-target' => "tr.date_#{category.name}", 'data-expanded' => false }
            %td.fill= category.name
            %td.currency= formated_currency category.budget
            %td.currency= formated_currency category.budget_used

          / group by date
          - old_date = nil
          - category.transactions.this_month.order("date ASC").each do |transaction|

            / date
            - unless transaction.date == old_date # print out the date only if the old_date is different
              %tr.date_container.expandable{ 'class' => "date_#{category.name}", 'data-target' => "tr.transaction_#{transaction.date}", 'data-expanded' => false }
                %td.fill= l transaction.date, format: :long
                %td.empty &nbsp;
                %td.empty &nbsp;

            / transaction
            %tr.transaction_container{ 'class' => "transaction_#{transaction.date}", 'data-expanded' => false }
              %td.fill= transaction.comment
              %td.empty &nbsp;
              %td.currency= formated_currency transaction.amount
            - old_date = transaction.date # set the old date

        %tr.footer.info
          %td.fill= t('common.sum')
          %td.empty &nbsp;
          %td.currency= formated_currency @saldo
.row        
  %p.helptext= t('.helptext')
