%h1= t('.heading')

.row
  .span4#filters
    = render partial: 'summary/filters'

  .span8
    %table.summary.table.treeview
      %thead
        %tr.header
          %th.empty &nbsp;
          %th.currency= t('common.planed')
          %th.currency= t('common.used')

      %tbody
        - @categories.each do |category|
          / category
          %tr.treeview-container{ 'id' => "#{category.name}_container", 'data-tv-expanded' => 0, 'data-tv-level' => 0 }
            %td.fill= category.name
            %td.currency= formated_currency category.budget
            %td.currency= formated_currency category.budget_used

          / group by date
          - old_date = nil
          - category.transactions.this_month.order("date ASC").each do |transaction|

            / date
            - unless transaction.date == old_date # print out the date only if the old_date is different
              %tr.treeview-container{ 'id' => "#{transaction.date}_#{category.name}_container", 'data-tv-expanded' => 0, 'data-tv-parent' => "##{category.name}_container", 'data-tv-level' => 1 }
                %td.fill= l transaction.date, format: :long
                %td.empty &nbsp;
                %td.currency= formated_currency category.budget_used_by_date[transaction.date]

            / transaction
            %tr.treeview-item{ 'data-tv-parent' => "##{transaction.date}_#{category.name}_container", 'data-tv-level' => 2 }
              %td.fill= transaction.comment
              %td.empty &nbsp;
              %td.currency= formated_currency transaction.amount
            - old_date = transaction.date # set the old date

        %tr.footer.info
          %td.fill= t('common.sum')
          %td.empty &nbsp;
          %td.currency= formated_currency @saldo
.row        
  %p.helptext= t('.helptext')
