- if @categories
  %table.table.table-condensed
    %tr
      %th= t('activerecord.models.category')
      %th= t('.planned')
      %th= t('.used')
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= number_to_currency category.budget
        %td= number_to_currency category.budget_used

    %tr
      %td= t('.sum')
      %td= number_to_currency @sum_budget
      %td= number_to_currency @sum_budget_used
