- if @categories
  %table.table.table-condensed
    %tr
      %th= t('activerecord.models.category')
      %th.currency= t('common.planned')
      %th.currency= t('common.used')
    - @categories.each do |category|
      %tr
        %td= category.name
        %td.currency= number_to_currency category.planned
        %td.currency= number_to_currency category.used_this_month

    %tr.info
      %td= t('common.sum')
      %td.currency= number_to_currency @sum_budget
      %td.currency= number_to_currency @sum_budget_used
