%h1 Listing filters

%table
  %tr
    %th Name
    %th Start date
    %th End date
    %th User
    %th
    %th
    %th

  - @filters.each do |filter|
    %tr
      %td= filter.name
      %td= filter.start_date
      %td= filter.end_date
      %td= filter.user_id
      %td= link_to 'Show', filter
      %td= link_to 'Edit', edit_filter_path(filter)
      %td= link_to 'Destroy', filter, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Filter', new_filter_path
