= form_for([@budget,@transaction], html: { :class => 'form-horizontal', :role => "form" } ) do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"

      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :amount, class: 'control-label col-sm-2'
    .col-sm-10
      .input-group
        = f.number_field :amount, class: 'form-control', step: 0.01
        .input-group-addon
          =@transaction.budget.currency

  .form-group
    = f.label :comment, class: 'control-label col-sm-2'
    .col-sm-10
      = f.text_field :comment, class: 'form-control', placeholder: t('.comment_comment')

  .form-group
    = f.label :date, class: 'control-label col-sm-2'
    .col-sm-10
      = f.date_field :date, class: 'form-control'

  .form-group
    = f.label :category_id, class: 'control-label col-sm-2'
    .col-sm-10
      = select( "transaction", "category_id", @budget.categories.all.map{ |c| [ c.name, c.id, { style: "border-left: 1em solid #{c.color};" } ] }, { prompt: t('transactions.select_category') }, class: 'form-control' )
  
  .form-group
    = f.label :budget_id, class: 'control-label col-sm-2'
    .col-sm-10
      = select( "transaction", "budget_id", @transaction.user.budgets.all.map{ |b| [ b.name, b.id ] }, {}, { class: 'form-control', @transaction.user == current_user ? nil : :disabled => 'disabled' } )

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit t('common.save'), class: 'btn btn-primary'
      = f.submit t('common.save_and_add'), :class => 'btn btn-info', :name => "continue" if action_name == "new"
      = link_to "Cancel", budget_transactions_path(@budget), :class => "btn btn-default"
