%h1
  = t(".heading", :budget_name => @budget.name)
  %small= t(".heading_addition")

%table.table.table-striped
  %thead
    %tr
      %th
        = t("activerecord.attributes.transaction.comment")
      %th
        = t("activerecord.models.category")
      %th
        = t("activerecord.attributes.transaction.ammount")
      %th
        = t("activerecord.attributes.common.created_at")


  %tbody
    -@transactions.each do |transaction|
      %tr
        %td
          =transaction.comment
        %td
          =transaction.category.name
        %td
          =transaction.amount
        %td
          =transaction.created_at

%p
  =link_to t("entities.new", :entity => t("activerecord.models.transaction")  ), new_budget_transaction_path(@budget)
